* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 365px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
    }
    .alert-info {
        width: 100%;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;

        border: 1px solid lightgrey;
        font-size: 1.2em;
    }
    .alert-info a {
        text-decoration: none;
        color: black;
    }
    h1{
        font-size: 72px;
        margin: 8px 0;
    }
    nav{
        width: 100%;
    }

    .nav-links li {
        list-style: none;
        background-color: lightgrey;
        text-align: center;
        margin: .85em 0;
        padding: 1em;
        font-size: 1.2em;
    }
    .header-img img{
        height: auto;
        width: 100%;
        overflow: hidden;
    }
    section {
        width: 100%;

    }
    .main {
        margin-bottom: 3em;
    }
    .main h2{
        font-size: 32px;
        margin: 14px 0;
    }
    .main p{
        font-size: 20px;
    }
    .sub-section {
        font-style: italic;
    }
    .sub-section h2 {
        margin-bottom: .8em;
    }
    footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 6em;
    }
}